{
  "presets": [
    ["env", { "modules": false }],
    "stage-2"
  ],
  "plugins": [
    ["component", [
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ],
    "transform-runtime"],
    "transform-es2015-modules-commonjs",
    "dynamic-import-node"
  ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
